<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardauth.application.board.BoardMapper">
    <!-- 인터페이스에 있는 메소드와 연결. 메소드명은 id랑 같다. -->
    <!-- useGeneratedKeys: insert하고 바로 pk값 가져오는 기능
    keyProperty: pk값을 담을 멤버필드명 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board
        SET title = #{title}
            ,contents = #{contents}
            ,user_id = #{userId}
    </insert>
    <select id="findAll">
        SELECT b.id, b.title, b.created_at, u.nm
        FROM board b
        INNER JOIN user u
        ON u.id = b.user_id
        <if test="searchText != null and searchText !='' ">
        WHERE b.title LIKE CONCAT('%', #{searchText}, '%')
        OR b.contents LIKE CONCAT('%', #{searchText}, '%')
        </if>
        ORDER BY b.id DESC
        LIMIT #{startIdx}, #{size}
    </select>
    <select id="maxPage">
        SELECT CEIL(COUNT(1) / #{size} )
        FROM board
        <if test="searchText != null and searchText !='' ">
            WHERE title LIKE CONCAT('%', #{searchText}, '%')
            OR contents LIKE CONCAT('%', #{searchText}, '%')
        </if>
    </select>
    <select id="findOne">
        SELECT b.id, b.title, b.contents, b.created_at, u.nm, b.user_id
        FROM board b
        INNER JOIN user u
        ON u.id = b.user_id
        WHERE b.id = #{id}
    </select>
    <delete id="delBoard">
        DELETE FROM board
        WHERE id = #{id}
            AND user_id = #{signedUserId}
    </delete>
    <update id="update">
        UPDATE board
        SET title = #{title}
        , contents = #{contents}
        WHERE id = #{id}
        AND user_id = #{signedUserId}
    </update>


</mapper>